:root {
    background: rgb(24, 24, 24);
}

#library {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#library>article {
    background-color: rgb(46, 46, 46);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#library>article>dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

article h3,
article dd {
    color: white;
}

dl dt {
    font-weight: bold;
    color: rgb(161, 161, 161);
}

#library article div {
    align-self: flex-end;
    display: flex;
    gap: .5rem;
}

#library article div button {
    appearance: none;
    background-color: rgb(161, 161, 161);
    border: none;
}